:root {
  --branding-color: #d99782;
  --secondary-color: khaki;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--default-font-family);
  background: white;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 90px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-style: oblique 40deg;
}

h4 {
  font-size: 48px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.navbar {
  background-color: #ebe0da;
}

.hero {
  background-image: url("../images/girlwithrabbits.jpg");
  background-size: cover;
  text-align: center;
  padding: 100px 20px;
  background-repeat: no-repeat;
  width: 100%;
}

.hero p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: #272142;
}

.hero h1 {
  letter-spacing: 1px;
  line-height: 1.5;
}

.hero h2 {
  display: inline-block;
  letter-spacing: 5px;
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 6s steps(27), cursor 0.3s step-end infinite alternate;
}

.content {
  padding: 160px 20px;
  text-align: center;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
  max-width: 20ch;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
  text-align: center;
  padding: 0;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: transform 0.3s;
}

.btn-branding:hover {
  transform: translateY(-10px);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: transform 0.3s;
}

.btn-branding-outline:hover {
  transform: translateY(-10px);
}

.project-description {
  padding: 120px 60px;
  position: relative;
  left: 80px;
  bottom: 69px;
  
}
.brand-description {
  margin: 0 auto;
  margin-top: 15px;
  padding-top: 100px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 100px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
}

.logos-slide img {
  height: 60px;
  margin: 0 40px;
}


.work-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  
}

.work-gallery{
  flex-basis: 50%;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 120px;
  padding: 20px;
}

.box{
  background-size: cover;
  background-position: top;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  background-blend-mode: hard-light;
  transition: all 1s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
}

.box:hover{
  background-color: #999;
  background-position: center;
  box-shadow: 0 0 4px #fff;
}

#box-1,
#box-3,
#box-4{
  grid-row: span 2;
}

#box-2,
#box-6{
  grid-column: span 2;
}



.heading{
  color: #000;
font-size: 3rem;
text-align: center;

}

.subheading{
  color: #222;
margin-top: 10px;
text-align: center;
}


.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;

}

.card {
  width: 400px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.card-content p {
  font-size: 15px;
  line-height: 1.3;
}

.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--branding-color);
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
  position: center;
}

.card-content .btn:hover {
  transform: translateY(-10px);
}

.contact {
  width: 100%;
  overflow: hidden;
}

.contact .container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.content-container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}

.contact .container > div {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.left {
  padding: 85px 800px;
  background: url("/images/arcontact.png") no-repeat center;
  border-radius: 20px;
}

.contact-heading h3 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 0.9;
  white-space: nowrap;
  margin-bottom: 1.2rem;
}

.contact-heading h3 span {
  color: #d99782;
}

.form-wrapper {
  max-width: 32rem;
}

.contact-form {
  display: grid;
  margin-top: 2.55rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}

.input-wrap {
  position: relative;
}

.input-wrap.w-100 {
  grid-column: span 2;
}

textarea.contact-input {
  resize: none;
  width: 100%;
  min-height: 150px;
}

textarea.contact-input ~ label {
  top: 1.2rem;
  transform: none;
}

textarea.contact-input ~ .icon {
  top: 1.3rem;
  transform: none;
}

.input-wrap.focus .contact-input {
  background-color: aqua;
  border: 2px solid lightseagreen;
}

.contact-input {
  width: 100%;
  background-color: pink;
  padding: 1.5rem 1.35rem calc(0.75rem -2px) 1.35rem;
  border: none;
  outline: none;
  font-family: inherit;
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.95rem;
  border: 2px solid transparent;
  box-shadow: 0 0 0 0px;
  transition: 0.3s;
}

.contact-input:hover {
  background-color: aquamarine;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

input.button {
  display: inline-block;
  padding: 1.1rem 2rem;
  background-color: #d99782;
  border-radius: 20px;
  border: none;
}

input.button:hover {
  background-color: aquamarine;
  cursor: pointer;
}

.right {
  background: url("/images/arcontact.png") no-repeat center;
  background-size: cover;
  height: 100%;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 160px;
  border-radius: 7px;
  background-size: cover;
  background-repeat: no-repeat;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 20px;
    text-align: center;
    position:inherit;
    margin-bottom: 20px;
  
  }

  .work-container {
    flex-direction: column;
    padding-block: 20px;
  }

  .work-gallery {
    width: 100%;
    padding-inline: 12px;
    grid-auto-rows: 120px;
  }

  #box-1,
  #box-2,
  #box-3,
  #box-4,
  #box-5,
  #box-6,
  #box-7,
  #box-8 {
    grid-row: span 1;
    grid-column: span 3;
  }
}
